[submodule "public"]
	path = public
	url = https://github.com/cthare/cthare.github.io.git

[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo